.mapboxgl-marker:has(.focused) {
  z-index: 1000 !important;
}

.mapboxgl-map .focused .MuiBox-root {
  background: #fa3 !important;
}

.mapboxgl-map .focused::before,
.mapboxgl-map .focused::after {
  border: 8px solid #fa34 !important;
}

.mapboxgl-map .focused::after {
  border-width: 16px !important;
}

.mapboxgl-map .location.focused .MuiBox-root {
  background: #fa36 !important;
  border-color: #fa3 !important;
}

.mapboxgl-map .location.focused::before,
.mapboxgl-map .location.focused::after {
  border: none !important;
}
