.highlightDiff {
  margin: -2px -1px -1px;
  padding: 2px 0px 1px;
  border: 1px solid #fd9;
  border-radius: 4px;
  background-color: #fff8e8;
  color: #000;
  opacity: 0;
  position: relative;
  animation: highlightChange 2s ease-in;
}

.highlightDiff .empty {
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 10px;
  border: 6px solid transparent;
  left: -7px;
  top: 0;
  border-top-color: #f63;
}

@keyframes highlightChange {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
